@media screen and (max-width:1300px) {
 

    #container-prin {
        margin: 0 auto;
        background-color: #F5F6F7;
        width: 95%;
        height: 400px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.345);
        display: flex;
        align-items: center;

    }

    .esp {
        padding-top: 105px;
        padding-left: 85px;
        align-items: last baseline;
    }

    .esp > h1 {
        font-size: 60px;
        width: 10px;
        font-family: var(--font1);
    }

    img {
        width: 340px;
    }

    #image {
        margin-left: 100px;
    }
}

@media screen and (max-width:1043px) {

    #menu {
        z-index: 2;
      }

    #nav > ul > li{
        display: block;
        margin: 0px;
      }

     #nav > ul > li > a:hover{
        transition: 0.3s all;
       font-weight: bold;
    }

      #menu-bar {
        width: 45px;
        height: 40px;
        margin: 30px 0 20px 20px;
        margin-left: 20px;
        cursor: pointer;
      }
      
      .bar {
        height: 5px;
        width: 100%;
        background-color: black;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
      }
      
      #bar1 {
        transform: translateY(-4px);
      }
      
      #bar3 {
        transform: translateY(4px);
      }
      
      .nav {
        transition: 0.3s ease;
        display: none;
      }         
      
      .nav ul {
        padding: 0 22px;
      }
      
      .nav li {
        list-style: none;
        padding: 12px 0;
      }
      
      .nav li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
      }
      
      .nav li a:hover {
        font-weight: bold;
      }
      
      .menu-bg, #menu {
        top: 0;
        left: 0;
        position: absolute;
      }
      
      .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #00A6A4, #00A6A4);
        border-radius: 50%;
        transition: 0.3s ease;
      }
      
      .change {
        display: block;
      }
      
      .change .bar {
        background-color: white;
      }
      
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      
      .change #bar2 {
        opacity: 0;
      }
      
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      } 
      
      .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%,-30%);
      }

    header>nav>ul>a {
        display: none;
    }

    .esp{
      padding-top: 0px;
    }
    
    #container{
        margin: 0 auto;
        background-color: white;
        width: 95%;
        height: 100%;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.345);
        display: block;
       align-items: center;
       justify-content: center;
    }

    .cont1{
        margin: 0 auto;
        margin-top: 30px;
        width: 250px;
        height: 170px;
    }

    .icon{
        width: 50px;
    }

    .cont1:after{   
        margin-top: 5px;
        content: '';
        display: block;
        width: 250px;
        height: 0.3rem;
        background-color: #00A6A4;
        position: absolute;
        top: -0.35rem; /* Ajusta a posição para acima da div .cont1 */
        left: 50%; /* Coloca o elemento no centro horizontal */
        transform: translateX(-50%); /* Centraliza horizontalmente */
        border-radius: 15px 15px 0px 0px;
    }
}

@media screen and (max-width:765px) {

    .esp>h1 { 
        font-size: 45px;
        width: 10px;
        font-family: var(--font1);
    }

    .esp{
        margin: 0 auto;
        padding: 0;
    }

    #image {
        display: none;
    }
}

@media screen and (max-width:580px) {

    #login {
        margin: 0px;
    }

    .up-oranged{
        font-size: 15px;
        margin-bottom: 5px;
    }

    .in-green{
        background-color: #00A6A4;
        color: white;
        border-radius: 8px;
        font-size: 15px;
    }
}

@media screen and (max-width:412px) {
  header{
    height: 80px;
  }

   #title{
    width: 400px;
    margin: 0 auto;
   }

    #login{
      margin-bottom: 30px;
    }

    .up-oranged > li{
      margin: 8px ;
    }

    .in-green > li {
      margin: 10px;
    }
}